.container {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.card {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card input {
    width: 95%;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--light-gray);
    min-height: 45px;
    color: var(--dark-text);
}

.card button {
    min-width: 120px;
    min-height: 45px;
    border-radius: 45px;
    background: transparent;
    border: 1px solid var(--light-gray);
    transition: 1s all;
    position: absolute;
    bottom: 10px;
}

.card button:hover {
    background-color: var(--accent);
}