.comment {
    font-size: 0.75rem;
    box-shadow: 0px 0px 5px #151515;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    padding: 8px;  
    font-size: 0.75rem;
}

.commentHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentHeader img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.comment p {
    margin-top: 10px;
    opacity: 0.85;
    font-size: 0.85em;
} 

.commentsController {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.toggleIcon {
    transition: 0.5s ease;
}

.commentsController[istoggled = true] .toggleIcon {
    transform: rotate(180deg);
}

.toggleComments {
    background: none;
    border: none;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s all;
    height: 150px;
    overflow-y: hidden;
    -webkit-mask: linear-gradient(0deg, transparent 10%,  black 100%);
}

.commentsList[istoggled = true] {
    height: 280px;
    overflow-y: scroll;
    -webkit-mask: linear-gradient(0deg, transparent, black 0%);
}

.commentsList::-webkit-scrollbar {
    width: 3px;
}