.comment {
    font-size: 0.75rem;
    box-shadow: 0px 0px 5px #151515;
    border-left: 3px solid var(--bg-blue);
    border-radius: 15px;
    padding: 8px;
}

.commentHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentHeader img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.comment p {
    margin-top: 10px;
    opacity: 0.5;
} 

.commentsController {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleIcon {
    transition: 0.5s ease;
}

.commentsController[isToggled = true] .toggleIcon {
    transform: rotate(180deg);
}

.toggleComments {
    background: none;
    border: none;
}

.commentsList {
    display: flex;
    flex-direction: column;

    gap: 10px;
    transition: 0.5s all;
    height: 200px;
    overflow-y: hidden;

    -webkit-mask: linear-gradient(0deg, transparent 10%,  black 100%);
}

.commentsList[isToggled = true] {
    height: 380px;
    overflow-y: scroll;
    -webkit-mask: linear-gradient(0deg, transparent, black 0%);
}

.commentsList::-webkit-scrollbar {
    width: 0px;
}