@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
    font-family: "Poppins", sans-serif;
}

.container {
    width: clamp(320px, 80vw, 600px);
    min-height: 220px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.card {
    border: 1px solid var(--bg-gray);
    border-radius: 25px;
    box-shadow: 1px 1px 5px #151515;
}

.card .postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    background-color: var(--bg-blue);
    border-radius: 25px 25px 0px 0px;
    position: relative;
    background: linear-gradient(-5deg, var(--bg-blue), var(--bg-gray));
    background: var(--bg-blue);
}

.card .postHeader img {
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.card .postHeader section {
    display: flex;
    gap: 15px;
}

.card .postHeader .informations {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.card .postHeader .informations small {
    opacity: 0.8;
}

.card .postHeader .link {
    background-color: rgb(60, 111, 145);
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #050d19;
}

.link:hover {
    opacity: 0.5;
}

.card article {
    padding: 10px;
    font-size: 0.85rem;
    border-bottom: 1px solid var(--bg-gray);
}

.card article p {
    text-indent: 10px;
    margin-top: 5px;
}



.card footer {
    padding: 10px;
    
    justify-content: space-between;
    min-height: 50px;
    margin-top: 2px;
}

.inputSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px;
    border-radius: 45px;
    position: relative;
}

.card footer[texting = true] .comments {
    display: none;
}

textarea {
    width: calc(100% - 50px);
    background: none;
    outline: none;
    resize: none;
    border: none;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    height: 40px;
    padding: 10px;
    transition: 0.5s all;
}

textarea:is(:focus) {
    background-color: var(--bg-gray);
    border-radius: 10px;
}

textarea::-webkit-scrollbar {
    width: 0;
}

.submit {
    position: absolute;
    bottom: 4px;
    right: 4px;
    border-radius: 45px;
    border: none;
    outline: none;
    min-height: 37px;
    aspect-ratio: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text);
    opacity: 0;
    transition: 0.5s all;
}

.submit:hover {
    background-color: var(--accent);
}

.submit[show = true] {
    opacity: 1;
}

.comments {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.8;
}

